.felx-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.felx-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.felx-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.orange {
  color: var(--orange);
}